{
  "prefix": "-",
  "ownerid": "YOUR DISCORD ID HERE",
  "errortimeout": "5000",

  "swearfilter": false,
  "discordinvite": true,
  "messageDelete": true,
  "channelCreate": true,
  "channelDelete": true,
  "guildMemberAdd": true,
  "guildMemberRemove": true,

  "white": "#ffffff",
  "red": "#ff0000",
  "orange": "#ffa500",
  "yellow": "#ffff00",
  "green": "#00ff00",
  "blue": "#0000ff",
  "purple": "#551a8b"
}
